<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        .card {
            background-color: #f8f9fa;
            border: 1px solid #e0e0e0;
        }

        h1 {
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            color: #343a40;
        }

        p {
            font-family: 'Helvetica', sans-serif;
            font-size: 2.5rem;
            color: #495057;
        }

        .card p {
            line-height: 1.6;
        }

        .lead {
            font-size: 1.5rem;
        }

        /* Add a subtle shadow animation for the card */
        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
            transition: all 0.3s ease;
        }
    </style>
</head>
<body>
  <br />
    <br />
    <br />
    <div class="row justify-content-center my-5">
        <div class="col-md-8">
            <div class="card p-4 shadow-sm rounded">
                <h1 class="display-4 text-center mb-4">E-Evaluation Tools</h1>
                <p class="lead text-center mb-4">
                    Our mission is to empower educators and institutions with innovative evaluation tools that enhance teaching
                    effectiveness and student learning. By integrating advanced educational technologies, we strive to provide reliable,
                    data-driven insights that support personalized learning, foster continuous improvement, and drive academic success.
                    Through accessible and user-friendly assessment solutions, we aim to transform education and create impactful
                    learning experiences for all.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <iframe src="https://docs.google.com/spreadsheets/u/0/d/1XFw8bsT-bg3-z3iySyGXaRaD-ktJpEOX/htmlview" width="100%" height="500px"></iframe>
            </div>
    </div>
</body>
</html>
