<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <h1>
                Our Team 
            </h1>
            <p>
                @*<b> Dr. Oussama Ghneim : AI Education Specialist</b>.
                <br /><b>Mirna Hamad : Senior Web Developer </b>.*@
            </p>
        </div>
    </div>
</body>
</html >
